body {
    background-color: #222121 ;
}

div.container {
    display: flex;
    flex-flow: column;
}

h1 {
    color: #ffffff;
    position: relative;
    text-align: center;
}
div.video-container{
    margin: auto;
}
iframe {
    position: relative;

}

a {
    position: relative;
    text-align: center;
    
}

a.videos {
    display: inline-block;
    margin: auto;
}

img {
    margin: auto
}